ENVIRONMENT=development
APP_NAME=Milki API
API_V1_PREFIX=/v1
SECRET_KEY=
DATABASE_URL=postgresql+psycopg://milki:milki_dev@localhost:5432/milki
REDIS_URL=redis://localhost:6379/0
PII_ENCRYPTION_KEY=
ALLOWED_API_KEY_PREFIX=mlk_
SELCOM_BASE_URL=https://apigw-test.selcommobile.com/v1
